
.footer{

    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 17px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1f2f;
    border-top: 1px solid #313646;
    color: #b0b0b0;
    
}

